<%- include("./partials/header") %>

<main style="height: 100vh;" class="w-100 d-flex flex-column justify-content-center align-items-center bg-dark">
    <h1 id="title404" class="fs-2 title fw-bold">404 - Página não encontrada</h1>
    <a href="<%= to %>" class="btn btn-primary mt-3">Voltar</a>

</main>

<%- include("./partials/footer") %>